@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

#nprogress .spinner {
  display: none !important;
}

#nprogress .bar {
  background: #db2777 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #db2777, 0 0 5px #9333ea !important;
}
